<link rel="stylesheet" href="/assets/styles/colors.css">
<body>
    <div id="colorPicker" class="colorPickerContainer">
        <canvas class="colorWheel"></canvas>
        <div class="colorPickerSliderBox">
            <div>
                <input class="hue_slider" type="range" value=360 max=360 min=0>
                <label>H</label>
            </div>
            <div>
                <input class="saturation_slider" type="range" value=99 max=99 min=0>
                <label>S</label>
            </div>
            <div>
                <input class="value_slider" type="range" value=99 max=99 min=0>
                <label>V</label>
            </div>
                <div class="selected_color">
            </div>
            <div>
                <input class="hex_display" type="text" readonly>
            </div>
        </div>
    </div>

    <div>
        <h2>Monochromatic</h2>
        <div class="pallette_container">
            <canvas id="monochromatic"></canvas>
        </div>
        <h2>Analogous</h2>
        <div class="pallette_container">
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
        </div>
        <h2>Triadic</h2>
        <div class="pallette_container">
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
        </div>
        <h2>Complementary</h2>
        <div class="pallette_container">
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
        </div>
        <h2>Split Complementary</h2>
        <div class="pallette_container">
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
        </div>
        <h2>Analogous Complementary</h2>
        <div class="pallette_container">
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
        </div>
        <h2>Tetrad</h2>
        <div class="pallette_container">
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
        </div>
        <h2>Saturated</h2>
        <div class="pallette_container">
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
        </div>
        <h2>Neutral</h2>
        <div class="pallette_container">
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
        </div>
        <h2>Saturated and Neutral</h2>
        <div class="pallette_container">
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
            <div class="palletebox"></div>
        </div>
    </div>

    <script src="/assets/scripts/color.js"></script>
    <script>
         var colorWheel = new ColorWheel("colorPicker");
         colorWheel.colorChange = function(color) {
            var hsvColor = RGBtoHSV(HEXtoRGB(color));
            var monoCanvas = document.getElementById("monochromatic");

            monoChromaticPalette(monoCanvas, hsvColor);

         };

         function monoChromaticPalette(canvas, hsvColor) {
            var value = hsvColor.v;
            var step = value / 6;
            var colors = [];
            for (i = 0; i < value; i = i + step) {
                var color = {h: hsvColor.h, s: hsvColor.s, v: i};
                colors.push(RGBToHex(HSVtoRGB(color)));
            }
            var ctx = canvas.getContext("2d");
            for (i = 0; i < colors.length; i++) {
                ctx.fillStyle = colors[i];
                ctx.fillRect(i * 50, 0, 50, 50);
            }
         }
    </script>
</body>