<link rel="stylesheet" href="/assets/styles/shapes.css">
<link rel="stylesheet" href="/assets/styles/colors.css">
<script src="/lib/tinycolor-min.js"></script>
<script src="/lib/iro.min.js"></script>
<script src="/assets/scripts/shape.js"></script>

<section id="page">
    <div id="layout" class="colorPickerContainer">
        <div id="slidecontainer">
            <label for="shapeNumberSlider">Shape Count</label>
            <input type="range" min="1" max="10" value="2" class="slider" id="shapeNumberSlider">
            <label for="numberOfVertex">Vertex Count</label>
            <input type="range" min="1" max="10" value="4" class="slider" id="numberOfVertex">
        </div>
        <div id="shape_settings">
            <div id="colorWheel"></div>
            <div id="buttons">
                <button class="btn fas fa-sync" onClick="draw()"></button>
                <button class="btn fas fa-download" onclick="download()"></button>
            </div>
            <canvas id="DemoCanvas" width="500" height="500"></canvas>
        </div>
        <div id="stream_link_container">
            <span>Stream Link</span>
            <input type="text" id="streamlnk"
            value="https://alexfurprojects.github.io/shapestream.html?shapeNumber=4&vertexNumber=5&shapeColor=teal"
            style="width: 80%" readonly>
        </div>
    </div>
    <script>
        var colorWheel = new iro.ColorPicker('#colorWheel', {
            width: 250,
            height: 150,
            color: "#5522aa",
            layoutDirection: 'horizontal',
            layout: [
                { component: iro.ui.Wheel },
                { component: iro.ui.Slider,
                    options: { sliderType: 'hue' }
                },
                { component: iro.ui.Slider,
                    options: { sliderType: 'value' }
                },
                { component: iro.ui.Slider,
                    options: { sliderType: 'saturation' }
                }
            ]
        });
        
        var canvas = document.getElementById('DemoCanvas');
        
        function draw() {
            numberShapes = document.getElementById("shapeNumberSlider").value;
            numberVertex = document.getElementById("numberOfVertex").value;
            shapeColor = colorWheel.color.hexString;
            drawShape(canvas, numberShapes, numberVertex, shapeColor);
            updateStreamLink(numberShapes, numberVertex, shapeColor);
        }
        
        function updateStreamLink(numberShapes, numberVertex, shapeColor) {
            var streamLinkBase = "https://alexfurprojects.github.io/shapestream.html?shapeNumber=" 
            + numberShapes 
            + "&vertexNumber=" 
            + numberVertex
            + "&shapeColor="
            + escape(shapeColor);
            document.getElementById("streamlnk").value = encodeURI(streamLinkBase);
        }
        
        var download = function(){
            var link = document.createElement('a');
            link.download = Math.random().toString(36).substring(7);
            link.href = canvas.toDataURL()
            link.click();
        }
        
        draw();
        
    </script>                
</section>
