<link rel="stylesheet" href="/assets/styles/story.css">
<section id="story_main">
    <script src="/lib/nedb.js"></script>
    <script src="/assets/scripts/storyApp.js"></script>
    <script>
        window.storyApp = new StoryApp();
    </script>

<!-- Project New and Load Module -->
    <section id="projectNewLoad">
        <h1>Open Existing Story or Create a New One</h1>
        <button onClick="newProject()">New</button>
        <button onClick="openLoadProject()">Load</button>
        <script>
            storyApp.registerModule(document.getElementById("projectNewLoad"), storyApp.modules.projectNewLoad);

            function newProject() {
                storyApp.pushModule(storyApp.modules.projectNew);
            }

            function openLoadProject() {
                storyApp.pushModule(storyApp.modules.projectLoad);
            }
            
        </script>
    </section>

<!-- Create New Project Module -->
    <section id="projectNew" class="hide">
        <h1>New Project</h1>
        <h2><input type="text"></h2>
        <h2><button onClick="createNewProject()">Create</button></h2>
        <script>
            storyApp.registerModule(document.getElementById("projectNew"), storyApp.modules.projectNew);

            function createNewProject() {
                storyApp.pushModule(storyApp.modules.projectManage);
            }
        </script>
    </section>

<!-- Load Project Module -->
    <section id="projectLoad" class="hide">
        <h1>Load Project</h1>
        <h2><button onClick="loadProject()">Open Project</button></h2>
        <script>
            storyApp.registerModule(document.getElementById("projectLoad"), 
                                   storyApp.modules.projectLoad);

            function loadProject() {
                storyApp.pushModule(storyApp.modules.projectManage);
            }
        </script>
    </section>

<!-- Project Management Module -->
    <section id="projectstoryApp" class="hide">
        <h1>Manage Project</h1>
        <h2><button onClick="openSynopsis()">Synopsis</button></h2>
        <h2><button onClick="openCharacters()">Characters</button></h2>
        <h2><button onClick="openChapters()">Chapters</button></h2>
        
        <script>
            storyApp.registerModule(document.getElementById("projectstoryApp"),
                                   storyApp.modules.projectManage);

            function openCharacters() {
                storyApp.pushModule(storyApp.modules.characterList, ["Alex", "Zane", "Idle"]);
            }
            function openChapters() {}
            function openSynopsis() {}
        </script>
    </section>

<!-- Character List -->
    <section id="characterListModule" class="hide">
        <h1>Characters</h1>
        <ul id="characterList"></ul>

        <script>
            storyApp.registerModule(document.getElementById("characterListModule"),
                                   storyApp.modules.characterList,
                                   showMethod=loadCharacters,
                                   hideMethod=clearCharacters);

            function loadCharacters(characters) {
                var list = document.getElementById("characterList");
                characters.forEach(character => {
                    var header = document.createElement("h4");
                    var button = document.createElement("button");
                    header.appendChild(button);
                    button.innerHTML = character;
                    list.appendChild(header);
                });
            }

            function clearCharacters() {
                var list = document.getElementById("characterList");
                list.innerHTML = ""; 
            }
        </script>
    </section>

<!-- Breadcrumb stuff -->
    <button id="backButton" onClick="goBack()" class="hide">Back</button>
    <script>
        function goBack() {
            storyApp.popModule();
        }
    </script>
</section>

