<link rel="stylesheet" href="/assets/styles/story.css">
<section id="story_main">
    <script>
        function uiManager() {

            var modules = {
                projectNewLoad : {},
                projectNew : {},
                projectLoad: {},
                projectManage: {}
            }
            this.modules = modules;

            this.registerModule = function(object, module, showMethod = null, hideMethod = null) {
                module.name = object.id;
                module.object = object;
                module.showMethod = showMethod;
                module.hideMethod = hideMethod;
            }

            this.showModule = function(module) {
                module.object.classList.remove("hide")
                module.showMethod?.();
                module.activeModule = true;
                hideOthers(module);
            }

            function hideOthers(module) {
                var entries = Object.entries(modules);
                entries.forEach(element => {
                    var key = element[0];
                    var value = element[1];
                    if (module.name != value.name) {
                        value.object.classList.add("hide");
                        value.activeModule = false;
                    }
                    if (value.activeModule) {
                        value.hideMethod?.();
                    }
                });
            }

            function insertExitButton(module) {
                var exitButton = document.createElement("button");
                exitButton.innerHTML = "Exit";
                exitButton.onclick = function() {
                    this.showModule(this.modules.projectNewLoad);
                }
                module.object.innerHTML += exitButton.outerHTML;
            }
        }

        window.manager = new uiManager();
    </script>

<!-- Project New and Load Module -->
    <section id="projectNewLoad">
        <h2><button onClick="newProject()">New</button></h2>
        <h2><button onClick="openLoadProject()">Load</button></h2>
        <script>
            manager.registerModule(document.getElementById("projectNewLoad"), manager.modules.projectNewLoad);

            function newProject() {
                manager.showModule(manager.modules.projectNew);
            }

            function openLoadProject() {
                manager.showModule(manager.modules.projectLoad);
            }
            
        </script>
    </section>

<!-- Create New Project Module -->
    <section id="projectNew" class="hide">
        <h1>New Project</h1>
        <h2><input type="text"></h2>
        <h2><button onClick="createNewProject()">Create</button></h2>
        <script>
            manager.registerModule(document.getElementById("projectNew"), manager.modules.projectNew);

            function createNewProject() {

            }
        </script>
    </section>

<!-- Load Project Module -->
    <section id="projectLoad" class="hide">
        <h1>Load Project</h1>
        <h2><button onClick="loadProject()">Open Project</button></h2>
        <script>
            manager.registerModule(document.getElementById("projectLoad"), 
                                   manager.modules.projectLoad);

            function loadProject() {
                manager.showModule(manager.modules.projectManage);
            }
        </script>
    </section>

<!-- Project Management Module -->
    <section id="projectManager" class="hide">
        <h1>Manage Project</h1>
        <h2><button onClick="openSynopsis()">Synopsis</button></h2>
        <h2><button onClick="openCharacters()">Characters</button></h2>
        <h2><button onClick="openChapters()">Chapters</button></h2>
        
        <script>
            manager.registerModule(document.getElementById("projectManager"),
                                   manager.modules.projectManage);

            function openCharacters() {}
            function openChapters() {}
            function openSynopsis() {}
        </script>
    </section>
</section>

